<article class="flex justify-content-center mt-8 pt-4">
    <div class="flex max-w-55rem gap-5 p-5">
        <p-card>
            <h1>פלטות מוזאיקה</h1>
            <p>
                הפלטות, חלקן מסתובבות וחלקן קבועות ולכל אחת טקסטורה ייחודית
                ממוזאיקה.
                <br />
                פלטות העץ נחתכות על ידי עמי והמוזאיקה מעשה ידי עפרה.
            </p>
            <p-divider></p-divider>

            <div class="card">
                <div
                    *ngIf="images"
                    class="grid"
                >
                    <div
                        *ngFor="let image of images; let index = index"
                        class="col"
                        key="index"
                    >
                        <img
                            class="fixed-size"
                            [src]="image.thumbnailImageSrc"
                            style="cursor: pointer"
                            (click)="imageClick(index)"
                        />
                    </div>
                </div>
                <p-galleria
                    [value]="images"
                    [visible]="displayCustom"
                    [(activeIndex)]="activeIndex"
                    [responsiveOptions]="responsiveOptions"
                    [containerStyle]="{ 'max-width': '850px' }"
                    [numVisible]="7"
                    [circular]="true"
                    [fullScreen]="true"
                    [showItemNavigators]="true"
                    [showThumbnails]="false"
                >
                    <ng-template
                        pTemplate="item"
                        let-item
                    >
                        <img
                            [src]="item.itemImageSrc"
                            style="width: 100%; display: block"
                        />
                    </ng-template>
                </p-galleria>
            </div>
        </p-card>
    </div>
</article>
