{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "htmlWhitespaceSensitivity": "ignore",
    "printWidth": 80,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "printWidth": 80,
                "singleAttributePerLine": true
            }
        },
        {
            "files": "*.ts",
            "options": {
                "importOrderSeparation": true
            }
        }
    ]
}
