<div
    class="fixed top-0 left-0 w-screen flex flex-row justify-content-center align-content-center p-5 gap-4 xl:gap-8 lg:flex-row"
>
    <p-card class="">
        <h1
            class="flex-1 m-0 p-0 w-fit text-xs sm:text-sm md:text-lg lg:text-xl"
        >
            משק חטיבה
        </h1>
    </p-card>
    <nav class="my-2 flex-1 lg:flex-none flex align-items-center lg:mr-8">
        <p-menubar
            class="flex-1"
            [model]="items"
        >
            <ng-template
                pTemplate="item"
                let-item
            >
                <ng-container *ngIf="item.route; else urlRef">
                    <a
                        [routerLink]="item.route"
                        class="p-menuitem-link"
                    >
                        <span class="mr-2">{{ item.label }}</span>
                    </a>
                </ng-container>
                <ng-template #urlRef>
                    <a
                        *ngIf="item.url; else noLink"
                        [href]="item.url"
                        class="p-menuitem-link"
                    >
                        <span class="mr-2">{{ item.label }}</span>
                    </a>
                </ng-template>
                <ng-template #noLink>
                    <div class="p-menuitem-link">
                        <span class="mr-2">{{ item.label }}</span>

                        <span
                            *ngIf="item.items"
                            class="pi pi-fw pi-angle-down mr-2"
                        ></span>
                    </div>
                </ng-template>
            </ng-template>
        </p-menubar>
    </nav>
</div>
