<article class="flex justify-content-center mt-8 pt-4">
    <div class="flex flex-column max-w-55rem gap-5 lg:flex-row px-5">
        <div class="flex-1">
            <p-card>
                <h1>אודות המשק</h1>
                <p>
                    משק חטיבה הוקם בשנת 1935 בכפר ויתקין על ידי אריה ועליזה
                    חטיבה.
                    <br />
                    בנם עמי ואשתו עפרה ממשיכים את העבודה במשק עד היום.
                    <br />
                    במשך השנים טיפחו במשק מטעי פרי הדר ואבוקדו, גידלו עגלים
                    ופרות והחזיקו לול מטילות. כל זה עשו תוך כדי עבודתם המקצועית
                    של עפרה כאחות ושל עמי כטייס וגידול שלושה ילדים.
                    <br />
                    בשנים האחרונות עם יציאתם לפנסיה החלו לעסוק בגידול מטעי זיתים
                    והפקת שמן זית ובנוסף בבניית שולחנות ופרטי מוזאיקה שונים.
                    <br />
                    עמי מתכנן ומבצע את עבודות הפרזול בבית מלאכתו ועפרה מעצבת
                    ומבצעת את עבודות המוזאיקה.
                </p>
                <p-divider />
                <div
                    class="flex flex-column justify-content-center align-items-center gap-5 sm:flex-row"
                >
                    <img
                        class="w-10rem h-10rem border-circle"
                        [src]="ofra.src"
                        [alt]="ofra.alt"
                    />
                    <img
                        class="w-10rem h-10rem border-circle"
                        [src]="ami.src"
                        [alt]="ami.alt"
                    />
                </div>
            </p-card>
        </div>
        <div class="flex-1 flex justify-content-center align-items-center">
            <p-image
                [src]="main.src"
                [alt]="main.alt"
                [imageStyle]="{ width: '100%', 'max-width': '450px' }"
                [preview]="true"
            >
                <ng-template pTemplate="indicator">
                    <i class="pi pi-check"></i>
                </ng-template>
            </p-image>
        </div>
    </div>
</article>
