// For PrimeNG
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

:root {
    // Colors

    // override PrimeNG //TODO
    --font-family: 'Inconsolata', monospace;
    // --text-color: #fff;
    // --primary-color: black;
    --background-color: rgb(240, 240, 240);
    --background-color-dark: rgb(220, 220, 220);

    direction: rtl;
}

html,
body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

* {
    outline: none; // remove focus outline
    -webkit-tap-highlight-color: transparent; // remove tap highlight
}

.bg-blue {
    background-color: lightblue;
}

.bg-red {
    background-color: lightpink;
}

.bg-green {
    background-color: lightgreen;
}

.bg-orange {
    background-color: orange;
}

// Extra PrimeFlex classes
.min-h-10rem {
    min-height: 10rem;
}

.min-h-20rem {
    min-height: 20rem;
}

.min-w-10rem {
    min-width: 10rem;
}

.min-w-20rem {
    min-width: 20rem;
}

.max-w-30rem {
    max-width: 30rem;
}

.max-w-35rem {
    max-width: 35rem;
}

.max-w-40rem {
    max-width: 40rem;
}

.max-w-45rem {
    max-width: 45rem;
}

.max-w-55rem {
    max-width: 55rem;
}

.translate-top-left-50 {
    transform: translate(-50%, -50%);
}

.translate-left-50 {
    transform: translateX(-50%);
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

// Animations
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease forwards;
}

.fixed-size {
    width: 100px; /* Set your desired width */
    height: 100px; /* Set your desired height */
    object-fit: cover; /* Optional: to maintain aspect ratio */
}

// .hero {
//     background-image: url('assets/general/background.webp');
//     background-size: cover;
//     background-repeat: no-repeat;

//     min-block-size: 100vh;
//     place-content: center;
//     text-align: center;
// }
